<div class="shadow-sm rounded flex flex-col gap-2 items-start relative">
    <img  [src]="product.thumbnail1" alt=""  class="rounded-t border-b">
    <div class="flex items-start w-full p-2 mb-8">
        <div class="text-[12px] font-bold w-7/12 flex flex-col gap-1">
            <p class="font-semibold text-gray-400">{{product.tags}}</p>
            <p class="font-semibold">{{product.title}}</p>
            <p class="text-[#ff7900] flex items-center gap-2">{{product.price - (product.price*(product.discountPercent/100))| currency}}<span class="text-gray-400 line-through">{{product.price| currency}}</span></p>
        </div>
        <div class="text-[12px]">🌟🌟🌟🌟🌟</div>
    </div>
    <div class="absolute bottom-0 flex items-center justify-center bg-[#ff7900] w-full py-2">
        <button class="text-center text-white flex items-center gap-2"><fa-icon [icon]="cartIcon"></fa-icon>Add to Cart</button>
    </div>
</div>