<div class="border rounded flex flex-col gap-2 items-start">
    <img  [src]="product.images[index].image" alt=""  class="rounded-t">
    <div class="flex items-start w-full p-2">
        <div class="text-[12px] font-bold w-7/12 flex flex-col gap-1">
            <p class="font-semibold text-gray-400">{{product.tags}}</p>
            <p class="font-semibold">{{product.title}}</p>
            <p class="text-[#ff7900] flex items-center gap-2">{{product.price| currency}} <span class="text-gray-400 line-through">{{product.price*product.discountPercent| currency}}</span></p>
        </div>
        <div class="text-[12px]">🌟🌟🌟🌟🌟</div>
    </div>
</div>