<div>
  <app-product-info></app-product-info>
  <div class="flex flex-col">
    <div class="w-full border-b gap-5 flex items-center justify-center pb-3">
      <p
        (click)="handleToggle('description')"
        [class]="active === 'description' ? 'text-[#ff7900]' : 'text-[#3e3e3e]'"
        class="text-sm font-bold cursor-pointer"
      >
        Description
      </p>
      <p
        (click)="handleToggle('review')"
        [class]="active === 'description' ? 'text-[#3e3e3e]' : 'text-[#ff7900]'"
        class="text-sm font-bold cursor-pointer"
      >
        Reviews
      </p>
    </div>
    <div class="mt-10 border-b p-5">
      <p
        [class]="active === 'description' ? '' : 'hidden'"
        class="text-sm font-medium text-[#3e3e3e]"
      >
        {{ productDescription }}
      </p>
      <div
        [class]="active === 'description' ? 'hidden' : ''"
        class="text-sm font-medium text-[#3e3e3e] flex items-center justify-center gap-4"
      >
        @for (review of reviews; track $index) {
        <app-reviews-card [reviews]="review"></app-reviews-card>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center gap-4 mb-10">
    <h2
      class="text-lg text-[#3e3e3e] font-extrabold underline underline-offset-6 decoration-2 decoration-wavy decoration-[#ff7900] p-4"
    >
      Related products
    </h2>
    @if(products){
    <div class="flex items-center justify-center gap-5">
      @for (product of products; track product.id) {
      <app-product-card
        class="cursor-pointer mb-3 hover:opacity-70"
        [index]="$index"
        [product]="product"
      ></app-product-card
      >} 
    </div>
    }
  </div>
</div>
